<p style="color: green"><%= notice %></p>

<% content_for :title do %>
  Profiles
<% end %>

<% content_for :new_button do %>
  <%= link_to "New profile", new_profile_path, class: 'btn btn-info' %>
<% end %>

<% content_for :thead do %>
  <th>Username</th>
  <th>Actions</th>
<% end %>

<% content_for :tbody do %>
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.username %></td>
      <td><%= link_to "Show this profile", profile %></td>
    </tr>
  <% end %>
<% end %>

<%= render template: 'layouts/abstract/index' %>