<p style="color: green"><%= notice %></p>

<% content_for :title do %>
  Repositories
<% end %>

<% content_for :new_button do %>
  <%= link_to "New repository", new_repository_path, class: 'btn btn-info' %>
<% end %>

<% content_for :thead do %>
  <th>Name</th>
  <th>Tags</th>
  <th>Actions</th>
<% end %>

<% content_for :tbody do %>
  <% @repositories.each do |repository| %>
    <tr>
      <td><%= repository.name %></td>
      <td><%= repository.tags %></td>
      <td><%= link_to "Show this repository", repository %></td>
    </tr>
  <% end %>
<% end %>

<%= render template: 'layouts/abstract/index' %>
